
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #0f172a, #1e293b);
    color: white;
}
.roundWinner{
    gap: 1.2rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 10px 25px;
}
.buttons{
    display: flex;
    gap: 1.2rem;
    margin-bottom: 2rem;
}

button {
    padding: 12px 25px;
    font-size: 1.1rem;
    font-weight: 600;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    background: rgba(255,255,255,0.08);
    color: white;
    backdrop-filter: blur(8px);
    transition: 0.25s ease;
}

button:hover {
    transform: translateY(-3px);
    background: rgba(255,255,255,0.18);
    box-shadow: 0px 8px 20px rgba(0,0,0,0.3);
}

button:active {
    transform: scale(0.95);
}


.scorBoard {
    font-size: 2rem;
    font-weight: 700;
    background: rgba(255,255,255,0.1);
    padding: 12px 40px;
    border-radius: 15px;
    backdrop-filter: blur(8px);
    margin-bottom: 2rem;
}


.winner {
    margin-top: 1.2rem;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 10px 25px;
    background: rgba(255,255,255,0.12);
    border-radius: 12px;
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(6px);
}
